DATABASE_URL="mysql://root:password@localhost:3306/db_mol"
#DATABASE_URL="mysql://root:password@mysql:3306/db_mol"
JWT_SECRET="minha_chave_super_secreta"
MYSQL_ROOT_PASSWORD="password"
MYSQL_DATABASE="db_mol"
PORT=4000